* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f4f6f8;
}

/* Header */
header {
    text-align: center;
    padding: 1.5rem;
    background: #1e293b;
    color: white;
}

/* Main section */
.converter {
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card */
.card {
    background: white;
    width: 320px;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.amount label {
    font-size: 0.9rem;
    color: #555;
}

.amount input {
    width: 100%;
    padding: 0.7rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.dropdown {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.select-box p {
    font-size: 0.85rem;
    margin-bottom: 0.3rem;
}

.selectdiv {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 8px;
}

.selectdiv img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.selectdiv select {
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
    width: 100%;
}

.rate {
    text-align: center;
    font-size: 0.9rem;
    color: #444;
}

/* Button */
.btn {
    background: #2563eb;
    color: white;
    padding: 0.8rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #1e40af;
}
