*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
}
header{
    text-align: center;
    height: 10vmin;
    background: pink;
}

.Corrency-converter{
    height: 70vmin;
    width: 100%;
    background: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    height: 60vmin;
    width: 40vmin;
    border: 2px solid black;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}
.dropdown{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
}
form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.amount{
    height: 4vmin;
    width: 90%;
    background: white;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgrey;
}
.amount input{
    border: none;
    background: transparent;
    padding-left: 1rem;
    height: 100%;
    width: 100%;
    outline: none;
}
.from, .to{
    display: flex;
    height: 40%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 1rem;
    padding-left: 1rem;
}
.from img, .to img{
    height: 2em;
    object-fit:fill;
    border-radius: 50%;
}
.selectdiv{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.selectdiv select{
    border: none;
    text-decoration: none;
    background: transparent;
    outline: none;
}
.msg{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 20vmin;
    justify-content: center;
}
.msg button{
    border: 1px solid lightgrey;
    border-radius: 1rem;
    height: 4vmin;
}